.about{
    padding: 80px 104px;
    display: flex;
    gap: 56px;
    background-color: #FFFFFF;
    align-items: center;
}
.about__image{
    width: 38%;
    border-radius: 50%;
    height: fit-content;
}
.about__info{
    width: auto;
}
.about__title{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 24px;
}
.about__paragraph{
    margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
    .about{
        padding: 40px;
    }
}
@media screen and (max-width: 425px) {
    .about{
        flex-direction: column;
    }
    .about__image{
        width: 100%;
        border-radius: 50%;
        height: fit-content;
    }
}