.savedNews{
    height: 294px;
    padding: 40px 104px;
    background-color: white;
    margin-top: 80px;
}
.savedNews__subtitle{
    font-size: 18px;
    color: #B6BCBF;
    margin-bottom: 28px;
}
.savedNews__title{
    font-size: 40px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
    .savedNews{
        padding: 24px 40px;
        height: fit-content;
        margin-top: 66px;
    }
    .savedNews__title{
        width: 60%;
    }
}
@media screen and (max-width: 425px) {
    .savedNews{
        padding: 8px 16px;
        height: fit-content;
        margin-top: 66px;
    }
    .savedNews__title{
        width: 100%;
    }
    .savedNews__keywords{
        margin-bottom: 24px;
    }
}